<html>
{{#each foo}}
{{this}}
{{/each}}

<!-- Populate data from Pokemon database based on query -->
<div class="mainbody">
    <h3 class="tabelement">Pokemon</h3>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'filter')" id="defaultOpen">Filter</button>
        <button class="tablinks" onclick="openTab(event, 'add')">Add</button>
    </div>

    <div id="filter" class="tabcontent">
        <h3 class="tabelement"> Search for Pokemon</h3>
        <form class="tabelement" id="search-pokemon" action="/pokemon" method="get"> 
            <label for="pokemon_name"></label>
                        Name:
                        <select name="pokemon_name" id="pokemon_name">
                            <option value="">Select by Name</option>
                            {{#each Pokemon}}
                            <option value="{{this.pokemon_name}}">{{this.pokemon_name}}</option>
                            {{/each}}
                        </select>
                        <br>
                        Type_1: <input type="text" name="type_1"><br>
                        Type_2: <input type="text" name="type_2"><br>
                        Ability 1: <input type="text" name="ability_1"><br>
                        Ability 2: <input type="text" name="ability_2"><br>
                        Hidden Ability: <input type="text" name="hidden_ability">
                    <br>

            <p>
                <input type="submit" value="Search">
            </p>
        </form>
    </div>

    <div id="add" class="tabcontent">
        <h3 class="tabelement">Add New Pokemon</h3>

        <form class="tabelement" id="addpokemon" action="/pokemon" method="post">
            <table id = "tab_table">
                <tr>
                    <td id ="tab_cell">
                        Pokemon Name: <input type="text" required="required" name="pokemon_name">
                    </td>
                    <td id ="tab_cell">
                        HP: <input type="number" required="required" name="health">
                    </td>
                </tr>

                <tr>
                    <td id ="tab_cell">
                        Attack: <input type="number" required="required" name="attack">
                    </td>
                    <td id ="tab_cell">
                        Special Attack: <input type="number" required="required" name="special_atk"><br>
                    </td>
                </tr>

                <tr>
                    <td id ="tab_cell">
                        Defence: <input type="number" required="required" name="defence">
                    </td>
                    <td id ="tab_cell">
                        Special Defence: <input type="number" required="required" name="special_def">
                    </td>
                </tr>

                <tr>
                    <td id ="tab_cell">
                        Speed: <input type="number" required="required" name="speed">
                    </td>
                    <td id ="tab_cell">
                        Hidden Ability: <input type="text" required="required" name="hidden_ability">
                     </td>
                </tr>

                <tr>
                    <td id ="tab_cell">
                        Type 1: <input type="text" required="required" name="type_1">
                    </td>
                    <td id ="tab_cell">
                        Type 2: <input type="text" name="type_2">
                    </td>
                </tr>

                <tr>
                    <td id ="tab_cell">
                        Ability 1: <input type="text" required="required" name="ability_1">
                    </td>
                    <td id ="tab_cell">
                        Ability 2: <input type="text" name="ability_2">
                    </td>
                </tr>

        </table>
            <br>
            <input type="submit" value="Submit">
            <br>
        </form>
    </div>

    <table>
        <thead>
            <th>Pokemon Id</th>
            <th>Pokemon Name</th>
            <th>HP</th>
            <th>Attack</th>
            <th>Defence</th>
            <th>Special Attack</th>
            <th>Special Defence</th>
            <th>Speed</th>
            <th>Type 1</th>
            <th>Type 2</th>
            <th>Ability 1</th>
            <th>Ability 2</th>
            <th>Hidden Ability</th>
        </thead>
        <tbody>
            {{#each Pokemon}}
            <tr>
                <td>{{this.breed_id}}</td>
                <td>{{this.pokemon_name}}</td>
                <td>{{this.health}}</td>
                <td>{{this.attack}}</td>
                <td>{{this.defence}}</td>
                <td>{{this.special_atk}}</td>
                <td>{{this.special_def}}</td>
                <td>{{this.speed}}</td>
                <td>{{this.type_1}}</td>
                <td>{{this.type_2}}</td>
                <td>{{this.ability_1}}</td>
                <td>{{this.ability_2}}</td>
                <td>{{this.hidden_ability}}</td>
                <td><a href="/delete_pokemon?breed_id={{this.breed_id}}">Delete</a></td>
                <td>
                    <a href="/update_pokemon?breed_id={{this.breed_id}}&pokemon_name={{this.pokemon_name}}&health={{this.health}}&attack={{this.attack}}&defence={{this.defence}}&special_atk={{this.special_atk}}&special_def={{this.special_def}}&speed={{this.speed}}&type_1={{this.type_1}}&type_2={{this.type_2}}&ability_1={{this.ability_1}}&ability_2={{this.ability_2}}&hidden_ability={{hidden_ability}}">Update</a>
                </td>
            </tr>
            {{/each}}

        </tbody>
                <tfoot>
                <tr>
                    <td><a href="/pokemon"><button>Show All</button></a></td>
                </tr>
            </tfoot>
        </tbody>
    </table>

    <br>

    <!-- Filter displayed data based on pokemon_name -->
    <!-- may add more filter options such as other Pokemon attributes -->
    {{!-- <form id="search-pokemon" action="/pokemon" method="get"> 
        <div>
            <h3> Search for Pokemon</h3>
            <label for="pokemon_name"></label>
            <div>
                Name:
                <select name="pokemon_name" id="pokemon_name">
                    <option value="">Select by Name</option>
                    {{#each Pokemon}}
                    <option value="{{this.pokemon_name}}">{{this.pokemon_name}}</option>
                    {{/each}}
                </select><br>
                Type_1: <input type="text" name="type_1"><br>
                Type_2: <input type="text" name="type_2"><br>
                Ability 1: <input type="text" name="ability_1"><br>
                Ability 2: <input type="text" name="ability_2"><br>
                Hidden Ability: <input type="text" name="hidden_ability"><br>
            </div>
        </div>

        <p>
            <input type="submit" value="Search">
        </p>
    </form> --}}
</div>

<script>
document.getElementById('defaultOpen').click();
</script>
<br>

</html>