<html>
{{#each foo}}
{{this}}
{{/each}}

<h3>Pokemon Information</h3>
<form id="addpokemon" action="/pokemon" method="post">
    Pokemon Name: <input type="text" name="pokemon_name"><br>
    HP: <input type="number" name="health"><br>
    Attack: <input type="number" name="attack"><br>
    Special Attack: <input type="number" name="special_atk"><br>
    Defence: <input type="number" name="defence"><br>
    Special Defence: <input type="number" name="special_def"><br>
    Speed: <input type="number" name="speed"><br>
    Type_1: <input type="text" name="type_1"><br>
    Type_2: <input type="text" name="type_2"><br>
    Ability 1: <input type="text" name="ability_1"><br>
    Ability 2: <input type="text" name="ability_2"><br>
    Hidden Ability: <input type="text" name="hidden_ability"><br>
    </select><br>
    <input type="submit" value="Submit">
</form>

<h3>Pokemon</h3>
<table>
    <thead>
        <th>Pokemon Id</th>
        <th>Pokemon Name</th>
        <th>HP</th>
        <th>Attack</th>
        <th>Defence</th>
        <th>Special Attack</th>
        <th>Special Defence</th>
        <th>Speed</th>
        <th>Type 1</th>
        <th>Type 2</th>
        <th>Ability 1</th>
        <th>Ability 2</th>
        <th>Hidden Ability</th>
    </thead>
    <tbody>
        {{#each Pokemon}}
        <tr>
            <td>{{breed_id}}</td>
            <td>{{pokemon_name}}</td>
            <td>{{health}}</td>
            <td>{{attack}}</td>
            <td>{{defence}}</td>
            <td>{{special_atk}}</td>
            <td>{{special_def}}</td>
            <td>{{speed}}</td>
            <td>{{type_1}}</td>
            <td>{{type_2}}</td>
            <td>{{ability_1}}</td>
            <td>{{ability_2}}</td>
            <td>{{hidden_ability}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

</html>