<html>
    {{#each foo}}
    {{this}}
    {{/each}}

    <!-- database data from query -->
    <div class="mainbody">
        <h3 class="tabelement">Regions</h3>

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'filter')" id="defaultOpen">Filter</button>
            <button class="tablinks" onclick="openTab(event, 'add')">Add</button>
        </div>

        <div id="filter" class="tabcontent">

            <!-- Form for searching Region based on Region name -->
            <h3 class="tabelement"> Search for Region</h3>

            <form class="tabelement" id="search-region" action="/region" method="get"> 
                <div>
                    <select name="region_name" id="region_name">
                        <option value="">Select by Name</option><br>
                        {{#each Region}}
                        <option value="{{this.region_name}}">{{this.region_name}}</option>
                        {{/each}}
                    </select>
                </div>
                <p>
                    <input type="submit" value="Search">
                </p>
            </form>
        </div>

        <div id="add" class="tabcontent">
            <!-- Form for adding Region -->
            <h3 class="tabelement">Add new Region:</h3>
            <form class="tabelement" id="addregion" required="required" action="/region" method="post">
                Region Name:
                <br>
                    <input type="text" required="required" name="region_name">
                <br>
                <br>
                    <input type="submit" value="Submit">
                <br>
            </form>
            <br>
        </div>

        <table>
            <thead>
                <th>Region Id</th>
                <th>Region Name</th>
            </thead>
            <tbody>
                {{#each Region}}
                <tr>
                    <td>{{this.unique_region_id}}</td>
                    <td>{{this.region_name}}</td>
                    <td><a href="/update_region?region_id={{this.unique_region_id}}&region_name={{this.region_name}}">Update</a></td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <td><a href="/region"><button>Show All</button></a></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <script>
        document.getElementById('defaultOpen').click();
    </script>
</html>