<html>
{{#each foo}}
{{this}}
{{/each}}

<h3>Trainer Information</h3>
<form id="addtrainer" action="/trainer" method="post">
    Name: <input type="text" name="name_id"><br>
    Gender: <input type="number" name="gender"><br>
    Age: <input type="number" name="age"><br>
    <label> Region: </label>
    <select name="region" size="2" multiple>
        <option value="2">Jhoto</option>
        <option value="1">Kanto</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>

<h3>Trainers</h3>
<table>
    <thead>
        <th>Trainer ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Region</th>
    </thead>
    <tbody>
        {{#each Trainer}}
        <tr>
            <td>{{unique_player_id}}</td>
            <td>{{name_id}}</td>
            <td>{{gender}}</td>
            <td>{{age}}</td>
            <td>{{region}}</td>
            <td><button onclick="deleteTrainer({{unique_player_id}})">Delete</button></td>
            <td><button onclick="">Update</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

</html>